// Define variables for your color scheme
// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #A69CAC;
$pale-green: #C7DFC0;
$pumpkin: #F3B61F;
$scarlet: #510D0A;
$my-blue: #3563A3;
$white: rgb(255, 255, 255)